body{
    font-family: sans-serif;
}

.my-wrapper{
display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100%;
}

header{
    height: 80px;
    width: 100%;
}
.my-logo{
   max-height: 4rem;
}
nav, main{height:calc(100% - 80px) ;}
nav{
    width: 7rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: darkblue;
    background-image: url(../img/sidebar-bg.png);
    overflow-y: hidden;
}

.sb-icon:hover{
   border-bottom:2px solid orange;
}
.admin{
    margin-bottom: 15px;
}
.admin:hover{
    border-bottom:2px solid orange;
}
main{
    width: calc(100% - 7rem);
    overflow-y: auto;
}
.fascione{
    background-color: #1b72e8;
    color: white;
}
.contenuto{
    background-color: white;
}
.my-tag{
    background-color: blue !important;
    font-size: 10px;
}
.numero{
    font-size: 30px;
}

.off{
    font-size: 18px;
}
.w8{width: 15%;}

.table-btn{
    border: 1px solid grey ;
    padding: 5px;
}
.tit-card{
    border-bottom: 2px solid black;
}

.riga{
    display: flex;
    justify-content: space-between;
}

.answer{
    display: none;
}
.icon{
    font-size: 20px;
    padding-right: 15px;
}
.icon-hov{
    display: none;
    padding-right: 15px;
    font-size: 20px;
}

.riga:hover .icon-hov{
   display: inline-block;
}
.riga:hover .icon{
    display: none;
}
.riga:hover .answer{
    display: inline-block;
 }

 .bor-b{
    border-bottom: 2px solid black;
 }
 .fs-14{font-size: 14px;}


 /* media query*/
 @media  screen and (max-width: 767px) {
    nav{
        width: 5rem;
    }
 }