.my-wrapper{
display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100%;
}

header{
    height: 80px;
    width: 100%;
}

nav{
    height: 100%;
    width: 110px;
    background: yellow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: indigo;
    background-image: url(../img/sidebar-bg.png);
}

.admin{
    justify-self: center;
}
main{
    height: 100%;
    width: calc(100% - 110px);
    background: blue;
}
.w100{width: 100%;}
.va-m{vertical-align: bottom;}

